{% extends 'base.html.twig' %}

{% block title %} Select sources{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% for sourceField in form.sources %}
        <div>
            {{ form_errors(sourceField) }}
            {{ form_widget(sourceField) }}
            {{ form_label(sourceField) }}
        </div>
    {% endfor %}

    {{ form_end(form) }}
{% endblock %}